* {
  line-height: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding-top: 23px;
  margin-bottom: 35px;
}

.container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.header nav {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header nav::after {
  content: "";
  width: 100%;
  height: 1px;
  display: flex;
  background-color: #828282;
  margin-top: 30px;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.header li a {
  font-size: 18px;
  color: #828282;
}

.header li:not(:last-child) {
  margin-right: 40px;
}

.header li .active {
  color: black;
}

.hero {
  padding-bottom: 100px;
}

.hero h2 {
  font-size: 47px;
  font-weight: 700;
  color: #070707;
  margin-bottom: 45px;
}

.hero img {
  max-width: 920px;
}

.about-me {
  padding: 100px 0;
  background-color: #f6f6f6;
}
.about-me .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me h2 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.about-me p {
  max-width: 480px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}

.about-me p:not(:last-child) {
  margin-bottom: 35px;
}

.skills {
  padding: 103px 0 80px;
  background-color: white;
}

.skills .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  margin-bottom: 45px;
}

.skills p {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
  margin-bottom: 79px;
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.skills li:not(:last-child) {
  margin-right: 90px;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f6f6f6;
}

.portfolio h2 {
  padding-top: 119px;
  margin-bottom: 68px;
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.portfolio ul {
  list-style: none;
}

.portfolio li {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
  padding-bottom: 129px;
}

.portfolio li:not(:last-child) {
  padding-bottom: 102px;
}

.portfolio li a {
  color: #070707;
}

.contacts {
  padding: 100px 0 161px;
  background-color: white;
}

.contacts .container {
  max-width: 937px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts h2 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 21px;
}

.contacts p {
  max-width: 275px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 78px;
  color: #070707;
}
.contacts p:last-child {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}

.contacts button {
  width: 181px;
  height: 42px;
  margin-bottom: 37px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0, 25));
  border-radius: 30px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin-bottom: 44px;
}

.contacts li:not(:last-child) {
  margin-right: 61px;
}
